@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');

@property --dark-bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: black;
}

@property --dark-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}

@property --light-bg-color {
  syntax: "<color>";
  inherits: false;
  initial-value: white;
}

@property --light-text-color {
  syntax: "<color>";
  inherits: false;
  initial-value: black;
}

:root {
  color-scheme: light dark;
}

body {
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  color: light-dark(var(--light-text-color), var(--dark-text-color));
  font-family: 'Inter';
}

#body-image {
  background-color: grey;
  border-radius: 10px;
  margin-left: 10px;
  width: 50%;
}

#button1 {
  /* centering the content inside first */
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0.1rem;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #7ED6F3, #B39DDB);
}

#button1 a {
  border-radius: 9px;
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  color: light-dark(var(--light-text-color), var(--dark-text-color));
  padding: 10px;
  text-decoration: none;
}

#button2 {
  /* centering the content inside first */
  display: flex;
  justify-content: center;
  align-items: center;

  margin-top: 0.5rem;
  padding: 0.1rem;
  border-radius: 10px;
  background-image: linear-gradient(to bottom, #7ED6F3, #B39DDB);
}

#button2 a {
  border-radius: 9px;
  background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
  color: light-dark(var(--light-text-color), var(--dark-text-color));
  padding: 10px;
  text-decoration: none;
}

#crown-svg {
  fill: rgb(24, 173, 241);
  rotate: 30deg;
  transform: translate(-0.95rem, -0.15rem);
}

footer {
  background-color: #000000d4;
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
  margin-bottom: 10px;
}

#ham-menu {
  display: none;
}

header {
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  max-width: 67.5rem;
}

#intro-section {
  width: 50%;
}

#intro-section h1 {
  margin: 0;
}

#logo {
  background-color: grey;
  width: 3rem;
  height: 3rem;
  border-radius: 9999px;
}

#logo-text {
  display: none;
}

main {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  max-width: 1080px;
}

nav hr {
  display: none;
}

nav>ul {
  list-style: none;
  display: flex;
  margin-top: 0;
  align-items: center;
  height: 100%;
}

nav>ul>li {
  height: 100%;
  align-items: center;
  margin-left: 0.63rem;
  margin-right: 0.63rem;
}

nav>ul>li>a {
  align-items: center;
  border-radius: 0.7rem;
  color: light-dark(var(--light-text-color), var(--dark-text-color));
  display: flex;
  height: 100%;
  padding-left: 0.4rem;
  padding-right: 0.4rem;
  padding-bottom: 0.05rem;
  padding-top: 0.05rem;
  text-decoration: none;
}

nav>ul>li>a:hover {
  background-color: #333333;
}

#two-buttons {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

@media (max-width: 640px) {
  #body-image {
    background-color: grey;
    border-radius: 5px;
    height: 10rem;
    margin-left: 0;
    margin-top: 10px;
    width: 100%;
  }

  header {
    margin-left: 0.65rem;
    margin-right: 0.65rem;
    margin-top: 0.65rem;
    position: relative;
  }

  #ham-menu {
    display: block;
    transform: translateY(48%);
    z-index: 1;
  }

  #ham-menu div {
    background-color: #B39DDB;
    border-radius: 20px;
    height: 5px;
    margin-top: 3px;
    width: 1.7rem;
    transition: all 0.3s;
  }

  #ham-menu.active div:nth-child(1) {
    transform: translateY(150%) rotate(45deg);
  }

  #ham-menu.active div:nth-child(2) {
    opacity: 0;
  }

  #ham-menu.active div:nth-child(3) {
    transform: translateY(-150%) rotate(-45deg);
  }

  #hammed-nav {
    background-color: #222222;
    border-radius: 1.25rem;
    display: block;
    opacity: 0.0;
    padding-bottom: 0.8rem;
    padding-left: 0;
    padding-top: 0.8rem;
    position: absolute;
    transition: all 0.3s;
    visibility: hidden;

    margin-top: 1rem;

    height: auto;

    /* centering */
    left: 0;
    right: 0;

    text-align: center;
  }

  #hammed-nav hr {
    display: block;
  }

  #hammed-nav li {
    display: block;
  }

  #hammed-nav li hr {
    border: none;
    border-top: 0.15rem solid #444444;
  }

  #hammed-nav li>a {
    border-radius: 0;
    display: block;
    height: 100%;
    padding-bottom: 0.2rem;
    padding-top: 0.2rem;
    width: 100%;
  }

  #hammed-nav li>a :hover {
    background-color: #444444;
  }

  #hammed-nav.active {
    visibility: visible;
    opacity: 1.0;
    transition: all 0.3s;
  }

  #intro-section {
    width: 100%;
  }

  #logo-text {
    display: block;
    color: red;
    font-family: 'Josefin Sans';
    margin-top: auto;
    margin-bottom: auto;

    /* centering */
    position: absolute;
    left: 0;
    right: 0;
    margin-inline: auto;
    width: fit-content;
    top: 0;
    bottom: 0;
    height: fit-content;
  }

  main {
    display: block;
    margin-left: 10px;
    margin-right: 10px;
  }
}