@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Josefin+Sans:ital,wght@0,100..700;1,100..700&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@property --dark-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: black;
}

@property --dark-text-color {
    syntax: "<color>";
    inherits: false;
    initial-value: white;
}

@property --light-bg-color {
    syntax: "<color>";
    inherits: false;
    initial-value: white;
}

@property --light-text-color {
    syntax: "<color>";
    inherits: false;
    initial-value: black;
}

:root {
    color-scheme: light dark;
}

body {
    background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
    color: light-dark(var(--light-text-color), var(--dark-text-color));
    font-family: 'Inter';
}

#bottom {
    position: fixed;
    bottom: 1.25rem;

    /* centering */
    left: 50%;
    transform: translate(-50%, 0);
}

#bottom button {
    background: linear-gradient(to bottom, #7ED6F3, #B39DDB);
    border: none;
    border-radius: 0.63rem;
    cursor: pointer;
    padding: 0.06rem;
}

#bottom button span {
    background-color: light-dark(var(--light-bg-color), var(--dark-bg-color));
    border-radius: 0.63rem;
    display: block;
    font-size: 1rem;
    padding: 0.44rem;
}

.circ {
    background-color: #B39DDB;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    border-radius: 9999rem;
    height: 3rem;
    width: 3rem;

    text-align: center;
}

.circ>svg {
    margin-top: 15%;
    height: 2rem;
    width: 2rem;
}

.crew-item {
    background-color: #2A2D34;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 0.5rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 1rem;
}

.crew-item-options {
    background-color: red;
    border-radius: 0.3rem;
    display: none;
    overflow: hidden;
}

.crew-item-options button {
    border: none;
    padding: 0.2rem 0.4rem;
}

.crew-item-options.options-show {
    display: flex;
    flex-direction: column;
    position: absolute;
    right: -1.5rem;
    top: 1rem;
}

.crew-item-pics {
    display: grid;
    grid-template-columns: auto auto auto;
    height: max-content;

    gap: 0.5rem 0.5rem;
}

.crew-item-footer {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.crew-item-footer>button {
    font-weight: 900;
    font-size: larger;

    border: none;
    background-color: transparent;
    cursor: pointer;
}

.crew-item-footer>p {
    text-align: center;
    width: 100%;
}


#crown-svg {
    fill: rgb(24, 173, 241);
    rotate: 30deg;
    transform: translate(-0.95rem, -0.15rem);
}

footer {
    width: 100%;
    text-align: center;
    margin-bottom: 0.63rem;
    margin-top: 0.63rem;
}

#ham-menu {
    display: none;
}

header {
    display: flex;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
    max-width: 67.5rem;
}

#logo {
    background-color: grey;
    width: 3rem;
    height: 3rem;
    border-radius: 9999rem;
}

#logo-text {
    display: none;
}

main {
    margin-left: auto;
    margin-right: auto;
    max-width: 67.5rem;
    min-height: 90vh;
}

main>h1 {
    margin-left: 1rem;
}

nav hr {
    display: none;
}

nav>ul {
    list-style: none;
    display: flex;
    margin-top: 0;
    align-items: center;
    height: 100%;
}

nav>ul>li {
    height: 100%;
    align-items: center;
    margin-left: 0.63rem;
    margin-right: 0.63rem;
}

nav>ul>li>a {
    align-items: center;
    border-radius: 0.7rem;
    color: light-dark(var(--light-text-color), var(--dark-text-color));
    display: flex;
    height: 100%;
    padding-left: 0.4rem;
    padding-right: 0.4rem;
    padding-bottom: 0.05rem;
    padding-top: 0.05rem;
    text-decoration: none;
}

nav>ul>li>a:hover {
    background-color: #333333;
}

#public-crew {
    display: grid;
    grid-template-columns: auto auto auto;

    justify-items: center;
    row-gap: 2rem;
}

.text-red {
    color: red;
}

@media (max-width: 40rem) {
    header {
        margin-left: 0.65rem;
        margin-right: 0.65rem;
        margin-top: 0.65rem;
        position: relative;
    }

    #ham-menu {
        display: block;
        transform: translateY(48%);
        z-index: 1;
    }

    #ham-menu div {
        background-color: #B39DDB;
        border-radius: 1.25rem;
        height: 0.31rem;
        margin-top: 0.19rem;
        width: 1.7rem;
        transition: all 0.3s;
    }

    #ham-menu.active div:nth-child(1) {
        transform: translateY(150%) rotate(45deg);
    }

    #ham-menu.active div:nth-child(2) {
        opacity: 0;
    }

    #ham-menu.active div:nth-child(3) {
        transform: translateY(-150%) rotate(-45deg);
    }

    #hammed-nav {
        background-color: #222222;
        border-radius: 1.25rem;
        display: block;
        opacity: 0.0;
        padding-bottom: 0.8rem;
        padding-left: 0;
        padding-top: 0.8rem;
        position: absolute;
        transition: all 0.3s;
        visibility: hidden;

        margin-top: 1rem;

        height: auto;

        /* centering */
        left: 0;
        right: 0;

        text-align: center;
    }

    #hammed-nav hr {
        display: block;
    }

    #hammed-nav li {
        display: block;
    }

    #hammed-nav li hr {
        border: none;
        border-top: 0.15rem solid #444444;
    }

    #hammed-nav li>a {
        border-radius: 0;
        display: block;
        height: 100%;
        padding-bottom: 0.2rem;
        padding-top: 0.2rem;
        width: 100%;
    }

    #hammed-nav li>a :hover {
        background-color: #444444;
    }

    #hammed-nav.active {
        visibility: visible;
        opacity: 1.0;
        transition: all 0.3s;
    }

    #logo-text {
        display: block;
        color: red;
        font-family: 'Josefin Sans';
        margin-top: auto;
        margin-bottom: auto;

        /* centering */
        position: absolute;
        left: 0;
        right: 0;
        margin-inline: auto;
        width: fit-content;
        top: 0;
        bottom: 0;
        height: fit-content;
    }

    #public-crew {
        grid-template-columns: auto auto;
    }
}

@media (max-width: 25rem) {
    #public-crew {
        grid-template-columns: auto;
    }
}